.card {
    display: grid;
    width: 350px;
    margin: auto;
    transition: 0.3s;
    box-shadow: 0 8px 40px -19px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);

}
.card-grid {
    margin: 20px 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    grid-gap: 20px;
}
