.eventiList-container {
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 2000px;
    align-items: center;
    grid-column: 1/-1;
     min-height: 100vh;
}
.EventiList {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(300px));
    grid-gap: 40px;
}
@media screen and (max-width: $mobile-breakpoint) {
    .eventiList-container {
        // padding-left: 50px;
        // padding-right: 50px;

        .EventiList {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 40px;
            // justify-content: center;
            // justify-self: baseline;
        }
    }
    .eventies {
        margin-top: 300px;
    }
}

@media screen and (max-width: $narrow-breakpoint) {
    .eventiList-container {
        padding-left: 10px;
        padding-right: 10px;
        // padding-top: 120px;

        .EventiList {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 40px;
        }
    }
}
