#root,html, body, .container{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    background-color: #007ced;
    background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}
#cloud-intro{
    position: relative;
    height: 100%;
    //background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 400px;
    animation: wind 20s linear infinite;
}
.hover{
    cursor: pointer;
}
