* {
    box-sizing: border-box;
    user-select: none;
}




#root,html, body, .container{
    width: 100%;
    height: 100%;
    font-family: "Airbnb Cereal App Book", serif;
    line-height: 1.6;
    scroll-snap-destination: center;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.dark-mode{
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
}

.light{
    background-color: #007ced;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Airbnb Cereal App Book";
    margin: 5px 0 0.6em;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    font-weight: 350;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: right;

}
a:hover {
    text-decoration: none;
    background-color: orange;
}
