* {
    box-sizing: border-box;
    // font-family: "Airbnb Cereal App Book";
    user-select: none;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: "Airbnb Cereal App Book";
    line-height: 1.6;
    scroll-snap-destination: center;
    scroll-behavior: smooth;
}
b {
    color: rgb(22, 22, 22);
    line-height: 2;
    margin-right: 5px;
    font-weight: 600;
}

body {
    font-size: rem(18px);
    margin: 0 auto;
    background-color: rgb(251, 251, 251);
    padding-top: 75px;
}
.main-layout {
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Airbnb Cereal App Book";
    margin: 5px 0 0.6em;
    line-height: 1.2;
    text-align: ltr;
    text-transform: capitalize;
    font-weight: 350;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: right;
    // margin: auto;
    // padding: 15px;
}
a:hover {
    text-decoration: none;
}
